body {
    background-color: rgb(144, 194, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #0b527e;
    display: flex;
    justify-content: center;
}

h2 {
    color: #387aa3;
}

.body {
    display: flex;
}

img {
    width: 400px;
}


